aiosqlite==0.17.0
annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
iso8601==1.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pydantic==2.9.2
pydantic_core==2.23.4
pypika-tortoise==0.1.6
pyTelegramBotAPI==4.23.0
pytz==2024.2
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.2.3
